<title>Title - <%= ((yield :title).length > 0 ? (yield :title) : 'слоган') %></title>
<meta name="keywords" content="<%= yield :keywords %>" />
<meta name="description" content="<%= yield :description %>">