<!-- Remove modal -->
<div id="simple-modal" class="popup-basic bg-none mfp-with-anim mfp-hide">

    <div class="panel">
        <div class="panel-heading">
              <span class="panel-icon">
                <i class=""></i>
              </span>
            <span class="panel-title"></span>
        </div>
        <div class="panel-body">

        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-primary ladda-button action_success" type="button" data-style="slide-down">
	            <span class="ladda-label">Да</span>
            </button>
            <button class="btn btn_modal_cancel action_cancel" type="button">Нет</button>
        </div>
    </div>
</div>