<%= form_for(resource, as: resource_name,# turboboost: true,
                       url: password_path(resource_name),
                       html: {class: '', id: '/admin/login', method: :post  }) do |f| %>

	<div class="panel-body bg-light p30">
		<div class="row">
			<div class="col-sm-12">

				<%#= devise_error_messages! %>

				<div class="section">
					<label for="user_email" class="field-label text-muted fs18 mb10">E-mail</label>
					<label for="user_email" class="field prepend-icon">
						<%= f.email_field :email, autofocus: true, :class => 'form-control gui-input', :placeholder => 'E-mail' %>
						<label for="username" class="field-icon">
							<i class="fa fa-envelope"></i>
						</label>
					</label>
				</div>
				<!-- end section -->

			</div>
			<%= hidden_field_tag :authenticity_token, form_authenticity_token -%>
		</div>
	</div>
	<!-- end .form-body section -->
	<div class="panel-footer clearfix p10 ph15">
		<%#= f.submit 'Восстановить пароль', class: 'button btn-system mr10 pull-right' %>
		<a href="#" class="like-simple-submit button btn-system ladda-button mr10 pull-right" data-style="slide-down">
			<span class="ladda-label">Восстановить пароль</span>
		</a>
	</div>
<% end %>



<% if flash[:empty_email] %>
	<% content_for :javascript do %>

		<%= render 'admin/_components/pnotify/pnotify',
		           title: 'Ошибка',
		           text: flash[:empty_email].html_safe,
		           icon: 'fa fa-warning',
		           shadow: true,
		           opacity: 0.9,
		           type: 'error',
		           width: '300px',
		           delay: 1000 %>

	<% end %>
<% end %>